<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background: radial-gradient(39.56% 48.29% at 20% 115.78%, #A663CC 0%, rgba(255, 22, 117, 0) 100%), 
                        radial-gradient(54.23% 74.52% at 69.72% -10.08%, #A663CC 0%, rgba(166, 99, 204, 0) 100%), 
                        radial-gradient(21.67% 31.7% at 39.72% 107.79%, rgba(0, 167, 225, 0.8) 0%, rgba(0, 167, 225, 0) 100%), 
                        radial-gradient(50.08% 61.33% at 85.83% 24.14%, #A663CC 0%, rgba(166, 99, 204, 0) 100%), 
                        #00A7E1 ;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div style="width: auto; height: 802px;"></div>
</body>

</html>


